<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('.title')%>:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong><%= t('.description')%>:</strong>
  <%= @comment.description %>
</p>

<%= link_to t('.edit'), edit_comment_path(@comment) %> 
<%= link_to t('.back'), comments_path %>
