<h1>Lista de Attracciones</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Pagina Web</th>
      <th>Horario de Atencion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><%= attraction.description %></td>
        <td><%= attraction.address %></td>
        <td><%= attraction.phone %></td>
        <td><%= attraction.website %></td>
        <td><%= attraction.openning_hours %></td>
        <td><%= link_to 'Mostrar', attraction %></td>
        <td><%= link_to 'Editar', edit_attraction_path(attraction) %></td>
        <td><%= link_to 'Borrar', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Atraccion', new_attraction_path %>
